<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body
    style="
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      style="
        width: 500px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      "
    >
      <h1 style="text-align: center; margin-bottom: 20px">Signup</h1>

      <form
        action="/signup"
        method="POST"
        style="display: flex; flex-direction: column; gap: 10px"
      >
        <div style="display: flex; flex-direction: column; gap: 10px">
          <label for="name" style="margin-bottom: 5px">Full Name:</label>
          <input
            type="text"
            name="name"
            placeholder="name"
            required
            autocomplete="off"
            style="padding: 8px; border: 1px solid #ccc; border-radius: 4px"
          />
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <label for="email" style="margin-bottom: 5px">Email:</label>
          <input
            type="text"
            name="email"
            placeholder="email"
            required
            autocomplete="off"
            style="padding: 8px; border: 1px solid #ccc; border-radius: 4px"
          />
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <label for="password" style="margin-bottom: 5px">Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            style="padding: 8px; border: 1px solid #ccc; border-radius: 4px"
          />
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <label for="confirmPassword" style="margin-bottom: 5px"
            >Confirm Password:</label
          >
          <input
            type="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password"
            required
            style="padding: 8px; border: 1px solid #ccc; border-radius: 4px"
          />
        </div>
        <button
          type="submit"
          style="
            margin-top: 10px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
          "
        >
          Signup
        </button>
      </form>
      <p style="margin-top: 15px">
        Do you have an account?
        <a href="/" style="color: #007bff">Login</a>
      </p>
    </div>
  </body>
</html>
